@media screen and (min-width: 1025px) {
  //index
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;


    #container {
      width: 100%;
      text-align: center;

      .title {
        .head {
          .logo {
            padding-top: 30px;
            font-size: 0.5rem;
            text-align: center;

            #imgTitle {
              margin-bottom: 25px;
              text-align: center;
            }
          }
        }

        .location-bar {
          width: auto;
          display: flex;
          align-items: center;
          background-color: rgb(0 0 0 / 10%);
          position: relative;
          z-index: 1;

          .location {
            display: flex;
            align-items: center;
            margin-left: 43%;

            .fa-solid {
              margin-right: 5px;
            }

            h1 {
              margin-left: 45px;
              font-size: 1rem;
            }
          }
        }

        .introduction {
          background-color: #f8f8f8;
          width: auto;
          text-align: center;
          padding-bottom: 50px;

          .introduction__title {
            text-align: center;
            font-size: 1.5rem;
            padding-top: 10px;
            z-index: 0;
            position: relative;
            h2 {
            }
          }

          .introduction__down-title {
            text-align: center;
            font-size: 1.8rem;
            p {
              font-size: 1.8rem;
              color: black;
            }
          }
          .button-restaurant {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            margin: 0 auto;
            border-radius: 2rem;
            border: none;
            width: 255px;
            font-size: 18px;
            color: white;
            font-weight: bold;
            height: 55px;
            padding: 6px 20px;
            background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
            transition: 100ms;

            &:hover {
              cursor: pointer;
              background: linear-gradient(to top, #8c4dda 0%, #f86dd1 100%);
            }
          }
        }
      }
      .functionning {
        h2 {
          font-size: 2rem;
          margin-left: 45px;
          padding-bottom: 50px;
          padding-top: 25px;
          width: 30%;
        }

        ul {
          list-style: none;
          display: flex;
          justify-content: space-around;
          margin-bottom: 100px;
          margin-right: 80px;
          margin-left: 50px;

          li {
            width: 30%;
            margin-right: 10px;
            display: inline-block;

            .button {
              position: relative;
              background-color: #f2f2f2;
              color: black;
              border: none;
              padding: 30px 22px 22px 40px;
              border-radius: 35px;
              cursor: pointer;
              transition: background-color 0.3s, box-shadow 0.3s;
              margin-bottom: 20px;
              text-decoration: none;
              box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
              justify-content: space-between;
              margin-right: 10px;
              white-space: nowrap;

        
              
                i {
                  color: #9356DC;
                  font-size: 1.2rem;
                  &:hover {
                    cursor: pointer;
                }
              }

              .functionning__list--number {
                background-color: #9356DC;
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 35px;
                margin-left: -50px;
                margin-top: -10px;
              }
              i {
                color: grey;
              }
              &:hover i {
                color: #9356DC;
              }
            }
          }
        }
      }

      .restaurants {
        background-color: #f2f2f2;
        width: 100%;
        .restaurants_title {
          margin-right: 10px;
          font-size: 2%;
          h2 {
            font-size: 1.9rem;
            display: flex;
            margin-left: 133px;
            padding-top: 35px;
          }
        }

        .restaurants_container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          width: 100%;

          .restaurants__card {
            flex: 0 0 calc(35% - -18px);
            box-sizing: border-box;
            position: relative;
            margin-bottom: 12px;

            a {
              width: 100%;
              max-height: 100%;
              text-decoration: none;
              .restaurants_image {
                width: 100%;
                height: 200px;
                max-height: 100%;
                box-sizing: border-box;
                display: flex;
                border-radius: 10px 10px 0 0;
                object-fit: cover;
              }

              .New {
                position: absolute;
                top: 25px;
                right: 54px;
                background-color: #99e2d0;
                color: rgba(59, 161, 81, 0.616);
                padding: 5px;
                border-radius: 2px;
              }

              .restaurant_descript {
                border-radius: 0 0 10px 10px;
                position: relative;
                background-color: white;
                .restaurants_name {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  color: black;
                  margin-left: 20px;
                  h3 {
                    color: black;
                    text-decoration: none;
                  }
                }

                .subtile_card {
                  p {
                    color: black;
                    text-decoration: none;
                    position: relative;
                    bottom: 13px;
                    left: 19px;
                    text-align: start;
                  }
                }
              }
            }
          }
          .layout-star {
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            position: absolute;
            left: 83%;
            bottom: 13%;
           
          
            .fa-regular, .fa-solid {
              position: absolute;
              top: 0;
              left: 0;
              color: black; 
            }
          
            .fa-regular {
              z-index: 2;
            }
             
            .fa-solid {
              z-index: 1;
              opacity: 0;
              color: transparent; 
              transition-property: opacity;
              transition-duration: 2s;
            }
            
            &:hover .fa-solid {
              opacity: 1;
              color: transparent;
              background-clip: text;
              background-image: linear-gradient(#ff79da, #9356dc);
              -webkit-background-clip: text;
            }
          
            &:hover .fa-regular {
              color: transparent; 
            }
          }
          
          
          
          
        }
      }

      footer {
        background-color: #333;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        font-family: "Roboto", sans-serif;
        padding-top: 45px;
        width: 100%;
        white-space: nowrap;
        margin-left: 0;

        .logo {
          color: white;
          order: 2;
          font-family: 'Shrikhand', cursive;
          font-style: italic;
          margin-right: 76px;

          a {
            color: white;
            text-decoration: none;

            h2 {
            }
          }
        }
        ul {
          list-style: none;
          display: flex;
          margin-left: 34%;
          padding-right: 42px;
          order: 1;
          li {
            a {
              color: white;
              text-decoration: none;
              h3 {
                margin-left: 12px;
              }
              .a-solid {
              }
            }
          }
        }
      }
    }
  }
}

