@keyframes fillHeart {
  0% {
    transform: scale(0);
    background-size: 0 100%; // Ajuste la taille pour éliminer le trait indésirable
  }
  100% {
    transform: scale(1);
    background-size: 0 0;
  }
}