@media screen and (max-width: 768px) {


  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    #container {
      .banner {
        display: flex;
        flex-direction: row;
        align-items: center;


        .banner_arrow {

          display: flex;
          justify-content: center;
          align-content: center;

          a {
            .fa-solid {
              margin-top: 21px;
              margin-left: 25px;
              font-size: 150%;
              color: #000;
            }
          }
        }

        .logo {
          margin-left: 30%;
          a {
            #imgTitle {
              padding-top: 20px;
              padding-bottom: 10px;
             
              width: 57%;
              display: flex;

            }
          }
        }
      }

      .menu_prix {
        z-index: -1;
        width: 100%;
        display: inline-block;
        position: relative;

        .imgCook {
          height: 400px;
          width: 100%;
          z-index: -1;
        }
      }

      .container {
        position: relative;
        z-index: 1;
        border-radius: 40px 40px 0 0;
        border: 1px solid white;
        background-color: #f2f2f2;

        margin-top: -70px;


        .container_banner {
          font-weight: bold;
          font-size: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          padding-left: 57px;

          h2 {
            font-style: italic;
            font-weight: 400;
            font-family: 'Shrikhand', cursive;
            font-size: 180%;
          }

          .layout-star {
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            position: absolute;
            left: 88%;
            bottom: 14%;
            
            .fa-regular, .fa-solid {
              position: absolute;
              top: 0;
              left: 0;
              color: black; 
            }
          
            .fa-regular {
              z-index: 2;
            }
             
            .fa-solid {
              z-index: 1;
              opacity: 0;
              color: transparent; 
              transition-property: opacity;
              transition-duration: 2s;
            }
            
            &:hover .fa-solid {
              opacity: 1;
              color: transparent;
              background-clip: text;
              background-image: linear-gradient(#ff79da, #9356dc);
              -webkit-background-clip: text;
            }
          
            &:hover .fa-regular {
              color: transparent; 
            }
          }
        }

      }

      .menu {
        background-color: #f2f2f2;
        width: 100%;
        z-index: 2;

        position: relative;
        margin-top: -14px;

        .card {
          .menu__block {
            margin: 10px;

            .category {
              .category__name {
                display: inline-block;
                position: relative;
                font-weight: 300;
                font-size: 100%;
                padding-top: 10px;
                padding-bottom: 10px;

                right: -6%;

                &:after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  width: 60%;
                  height: 2px;
                  background-color: #99e2d0;
                  border-radius: 30px;
                  display: block;
                }

                .category__name--line {

                }
              }
            }

            .choice {
              margin-bottom: 92px;
          
              .choice__card {
                width: 98%;
                background-color: white;
                border-radius: 30px;
                margin-top: 20px;
                display: flex;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                  background-color: #faf7f7;
                }

                .choice__card__txt {
                  display: flex;
                  flex-direction: column;
             


                  .choice__card__txt--title {
                    font-size: 100%;
                    font-weight: bold;
                    margin-right: auto;
                    margin-left: 50px;
                 
                    
                  }

                  .choice__card__txt--description {
                    font-weight: 300;
                    font-size: 100%;
                    margin-right: auto;
                    margin-left: 50px;
                    margin-top: -15px;
                
                  }
                }
                .prix {
                  @include flex-center;
                  font-weight: bold;
                  padding: 0 0.5rem 0.5rem 0;
                  transition: transform 0.9s;
                  margin-left: auto;
                  transform-origin: left center;
                
                  &:hover {
                    cursor: pointer;
                    transform: scaleX(1);
                  }
                  .checkbox-input:checked ~ & {
                    transform: translateX(calc(-100% - 80px)); /* Ajuste la valeur du décalage */
                }
                }
                
                .select-choix {
                  @include flex-center;
                  background-color: #99e2d0;
                  color: white;
                  font-weight: bold;
                  font-size: 100%;
                  align-items: center;
                  border-radius: 0 2rem 2rem 0;
                  width: 57px;
                  height: 100%;
                  margin-left: -1rem;
                  position: absolute;
                  left: 93%; // Ajuste cette valeur si nécessaire
                  top: 0;
                  transform-origin: right center;
                  transform: scaleX(0);
                  transition: transform 0.5s ease-in-out;
                  cursor: pointer;
              }
              
              .checkbox-input {
                  position: absolute;
                  opacity: 0;
                  height: 100%;
                  width: 100%;
                  cursor: pointer;
                  z-index: 1;
              }
              
              /* Applique le style de fond lorsque la case est cochée */
              .checkbox-input:checked ~ .select-choix {
                  transform: scaleX(1);
              }
              
              /* Déplace le prix vers la gauche lorsqu'il est coché */
              .checkbox-input:checked ~ .prix {
                  transform: translateX(-80px);
              }
              
              @media (max-width: 768px) {
                  .select-choix {
                      left: 89%;
                  }
              }
              @media (max-width: 768px) {
                .select-choix {
                    left: 95%;
                }
            }
              @media (max-width: 576px) {
                  .select-choix {
                      left: 92%;
                  }
              }
              
              
                
              }

            }
          }

        }


        .button-restaurant {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          margin: 0 auto;
        
          border-radius: 2rem;
          border: none;
          width: 255px;
          font-size: 100%;
          color: white;
          font-weight: bold;
          height: 55px;
     
          background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
          position: relative;
          top: -44px;
        
          &:hover {
            background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
            
          }
        }
        
      }

      footer {
        background-color: #333;
        color: white;
        font-family: "Roboto", sans-serif;


        .logo {

          a {
            color: white;
            text-decoration: none;
            margin-left: 3rem;

            h2 {
            }
          }
        }


        ul {
          list-style: none;
          display: flex;
          white-space: nowrap;

          li {
            a {
              color: white;
              text-decoration: none;

              h3 {
                margin-left: 12px;
              }

              .a-solid {

              }
            }
          }
        }
      }
    }
  }
}